body{
    /* google-fonts CSS rule */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: linear-gradient(#FFCBCB, #F4DFBA);
}
/* ********************* 1st part CSS styling statrs ************************ */
.double-div{
    display: flex;
   margin-bottom: 80px;
   
}
.half-width{
    padding-left: 130px;
    
}
.half-width img{
width: 70%;     
}
h1{
    color: #414040;
    font-size: 65px;
    font-family: Yeseva One;
    border-image: linear-gradient(#D77FA1, #35589A);
    border-left: 5px solid;
    border-image-slice: 1;
    padding-left: 15px;
    margin-top: 140px;
    font-weight: 600;
 
}
.color-span{
    color: #F2789F;
    
}
p{
    color: #3E3E3E;
    font-size: 18px;
}
.button{
    text-decoration: none;
    color: white;
    background-color:#B958A5;
    padding: 10px 40px;
    border-radius: 5px;
    
} 

/* ********************* 1st part CSS styling ends ************************ */

/* ********************* 2nd and bonus part CSS styling statrs ************************ */

.tripple-div{
    margin-bottom: 80px;
}

.tripple-div h2{
    text-align: center;
}

h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #13103A;
}
h3{
    color: #370665;
}
.three-box{
    display: flex;
    padding:0 100px;

}

.three-box img{
    width: 45%;
}
.box{
    padding: 0 25px;
    margin: 10px;
    border-radius: 20px;
    width: 90%;
}

.mission{
    background-image: linear-gradient(#F2789F, #FAEDC6);

}
.vision{
   background-image: linear-gradient(#9145B6, #F9C5D5);
}
.goal{
    background-image: linear-gradient(#FEE3EC, #F9C5D5);
} 

/* ********************* 2nd and bonus part CSS styling ends ************************ */

/* ********************* 3rd and 4th part CSS styling starts ************************ */
.bg-01{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left 50px bottom 85px; ;
    background-size: 190px 200px;
  
} 

.bg-02{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right 70px top 210px;
    background-size: 190px 190px;
  padding-bottom: 60px;
} 

.global-margin{
    margin-bottom: 0;
}
.padding-h2{
    padding-left: 0;
    padding-right: 5%;
}
.double-div h2{
    /* padding-right: 52%; */
    font-size: 38px;
    font-weight: 800;
}

/* ********************* 3rd and 4th part CSS styling ends ************************ */

/* ********************* footer part CSS styling starts ************************ */
footer{
    background-color: black;
    height: 190px;
  

}
.footer-heading{
   padding-top: 40px;
    text-align: center;
    font-family: 'Lobster', 'cursive';

    color:#D9DBE1 ;
    font-size: 36px;
    font-style: normal;
font-weight: normal;
   
}
.footer-text{
    color:#CCD1E4 ;
     text-align: center;
     font-size: 14px;
}
.footer-span{
    color: #9A0680;
}
/* ********************* footer part CSS styling ends ************************ */